@import "tailwindcss";

@font-face {
    font-family: 'Celias';
    src: url('./assets/fonts/Celias.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Celias Medium';
    src: url('./assets/fonts/CeliasMedium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Celias Bold';
    src: url('./assets/fonts/CeliasBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Impact';
    src: url('./assets/fonts/Impact.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Bold';
    src: url('./assets/fonts/Druk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Super';
    src: url('./assets/fonts/Druk-Super.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('./assets/fonts/CaslonAntique.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Maximo';
    src: url('./assets/fonts/Maximo.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Misfits';
    src: url('./assets/fonts/MISFITS_.TTF') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@theme {
    --color-blinkYellow: #f9d02e;
    --color-blinkGreen: #318616;
    --color-dark: #1a1a1a;

    --color-gradPurple: #502876;
    --color-gradPink: #ed008b;

    --color-mbdtfRed: #E73838;
    --color-mbdtfGold: #ee954e;
    --color-mbdtfLight: #bd4a4a;

    --color-yeezusOrange: #FF4500;
    --color-yeezusLight: #fc6026;

    --color-bullyLight: #3c3c3c;

    --color-heartbreakGray: #929290;
    --color-heartbreakLight: #a1a19f;

    --font-celias: 'Celias', sans-serif;
    --font-celias-medium: 'Celias Medium', sans-serif;
    --font-celias-bold: 'Celias Bold', sans-serif;
    --font-impact: 'Impact', sans-serif;
    --font-druk-super: 'Druk Super', 'Roboto Bold', sans-serif;
    --font-druk-bold: 'Druk Bold', 'Roboto Medium', sans-serif;
    --font-caslon: 'Caslon Antique', sans-serif;
    --font-misfits: 'Misfits', sans-serif;
    --font-helvetica-thin: 'Helvetica Neue', sans-serif;

    --animate-fade-in: fade-in 2s ease-out forwards;
    --animate-fade-in-delay: fade-in 2s ease-out 1s forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}